{% extends "layout.html" %}

{% block body %}
<div>

  <p><h2> Welcome to Glörber Arena </h2><p>

	
	
    <table width="100%">
	{% if counter is defined %}
	<tr> <h4> Topics: </h4> </tr>
	{% endif %}
    {% for topic in topics %}
   
	<tr>
    
      <th><a href="{{ url_for('post_id', topic_id = topic.id) }}" >{{ topic.name }}</a></th>
      
	</tr>
      
    
    {% endfor %}
    </table>   
		


</div>

{% endblock %}

{% block footer %}
		
<div>
<a href="/main?page={{ 1 }}" >First page</a>

<a href="/main?page={{ counter + 1 }}" >Next page</a>
<a href="/main?page={{ counter - 1 }}" >Previous page</a>
<a href="/main?page={{ counter + 1 }}" >Last page</a>
</div>



{% endblock %}
  
	

