{% extends "layout.html" %} {% block body %}
<head>
<div>
    <h2>{{ name }}</h2>
</div>
  <div>
    

    <table width="100%">
      {% if counter is defined and current_user is defined%}
      <tr>
        <h4>Topics:</h4>
      </tr>
      {% endif %} 
     
      {% for topic in topics %}

      <tr>
        <th>
          <h5><a href="{{ url_for('post_id', topic_id = topic.id) }}">
              {{ topic.name }}
              </a>
          </h5>
        </th>
      </tr>

      {% endfor %}
    </table>

    <div>
      <h6>
        <a href="{{ url_for('posts_form', theme_num = theme_id )}}"
          >Write a new post</a
        >
      </h6>
    </div>
  </div>

  {% endblock %} {% block footer %}

  <div>
    <a href="/{{ theme_id }}?page={{ 1 }}">First page</a>
    <a href="/{{ theme_id }}?page={{ counter - 1 }}">Previous page</a>
    <a href="/{{ theme_id }}?page={{ counter + 1 }}">Next page</a>

    <a href="/{{ theme_id }}?page={{ counter + 1 }}">Last page</a>
  </div>

  {% endblock %}
</head>

