{% extends "layout.html" %}
  
{% block body %}
<div class="container">
  
    

    
        
        <form method="POST" action="{{ url_for('posts_create', theme_num = theme_id) }}">
 	    <td>
	        <ul>
	            {% if error is defined %}
	            {{ error }}
	            {% endif %}
	        </ul>
          
	    </td>

            
                <table>
                    <tr>
                        <th>
                            {{ form.topic.label }}
                        </th>
                        <th>
                        {{ form.topic }} 
                        </th>
                    </tr>
                    <tr>
                        <th>
                            {{ form.content.label }}
                        </th>
                        <th>
                            {{ form.content}}
                        </th>
                    </tr>
                </table>
                
            
            <div>
                <input type="submit" value="Submit new post"/>
            </div>
        </form>

</div>
{% endblock %}
