{% extends "layout.html" %}
  
{% block body %}
<div class="container">
  
<style>
	table, article, td, p {
	    border: 1px solid black;
	    padding: 3px;
	   }
	</style>

<div class="row">
<form method="POST" action="{{ url_for('posts_create', theme_num = theme_id) }}">
 	<td>
	  <ul>
	    {% for error in form.content.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
          
	</td>
<div class="col align-self-center">
<table>
<tr>
<th>
    {{ form.topic.label }}
</th>
<th>
    {{ form.topic }} 
</th>
</tr>
<tr>
<th>
</th>
<th>
    {{ form.content}}
</th>
</tr>
</table>
<div>
  <input type="submit" value="Submit new post"/>
</form>

</div>
{% endblock %}
